@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/*font-family: 'Cormorant Garamond', serif;*/

body{
    font-family: 'Cormorant Garamond', serif;
    color: #404040;
    width: 100vw;
    min-height: 100vh;
}

.tip{
    width: 100%;
    color: #EE858B;
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-top: -1rem;
}

.bdr{
    border: 1px solid #EE858B;
    border-radius: 6px;
}

/* Nav */
a{
    text-decoration: none;
    color: #404040;
}
a:hover{
    text-decoration: none;
    color: #E9D8B5;
}
nav{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 5rem;
    background-color: #EDF3F6;
    z-index: 999;
}
nav .container{
    position: relative;
    display: flex;
    flex-direction: row;
}
.logo img{
    position: relative;
    width: 4rem;
    margin-top: 0.5rem;
    cursor: pointer;
}
.nav-item{
    position: relative;
    width: auto;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-top: 1.9rem;
    margin-left: 3rem;
    cursor: pointer;
}
.nav-item:hover{
    color: #E9D8B5;
}
.user{
    position: relative;
    margin-left: auto;
}
.user .material-icons-round{
    position: relative;
    font-size: 2.5rem;
    margin-top: 1.25rem;
    color: #404040;
    cursor: pointer;
}
.material-icons-round:hover{
    color: #E9D8B5;
    cursor: pointer;
}
.bg-blue{
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100vw;
    height: 60vh;
    background-color: #B0C6D9;
}
/* Header */
header{
    position: relative;
    width: 100vw;
}
header .text{
    position: relative;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-top: 10rem;
}
header .text-small{
    position: relative;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    margin-top: 0.5rem;
}
.add{
    position: relative;
    width: 3rem;
    height: 3rem;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 2rem;
}
.add .material-icons-round{
    position: relative;
    font-size: 3rem;
    color: #E9D8B5;
    cursor: pointer;
}
.add .material-icons-round:hover{
    color: #F9EDD1;
}
/* Modal */
.modal-header-custom .close{
    margin: -1rem;
}
.modal-title-custom{
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
}
.modal-body-custom{
    display: block;
    background-color: #F9EDD1;
    padding: 1.5rem;
}
.modal-body-custom .input-title{
    font-weight: bold;
}
.modal-body-custom input{
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #E9D8B5;
    border-radius: 5px;
    padding: 0.5rem;
}
input:focus{
    outline: none !important;
    border: 1px solid #E9D8B5;
}
.modal-body-custom textarea{
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #E9D8B5;
    border-radius: 5px;
    padding: 0.5rem;
    resize: none;
}
textarea:focus{
    outline: none !important;
    border: 1px solid #E9D8B5;
}
.btn-close{
    color: #E9D8B5;
    border: 1px solid #E9D8B5; 
}
.btn-close:hover{
    color: #fff;
    background-color: #E9D8B5;
    border: 1px solid #E9D8B5; 
}
.btn-share{
    color: #B0C6D9;
    border: 1px solid #B0C6D9;
}
.btn-share:hover{
    color: #fff;
    background-color: #B0C6D9;
    border: 1px solid #B0C6D9;
}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }
/* Section */
section{
    margin-top: 5rem;
}
/* Box */
.boxes-wrapper{
    margin-bottom: 5rem;
}
.box{
    position: relative;
    width: 100%;
    min-height: 22rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
    /* flip card */
    cursor: pointer;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.box.flipped{
    transform: rotateY(180deg);
}
.info{
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2rem;
    font-size: 1.3rem;
    background-color: #F9EDD1;
    backface-visibility: hidden;
}
.info-title{
    font-weight: bold;
} 
.info-content{
    font-weight: normal;
} 
.lyric-title{
    margin-top: 0.5rem;
}
.info .lyric-data{
    font-style: italic;
    font-weight: medium;
}
.reason{
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2rem;
    font-size: 1.3rem;
    background-color: #F9EDD1;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
.reason-title{
    font-weight: bold;
    text-align: center;
}
.reason-text{
    font-style: italic;
    font-weight: medium;
    margin-top: 1rem;
}
footer{
    position: relative;
    width: 100vw;
    height: 5rem;
    background-color: #EDF3F6;
}
footer p{
    text-align: center;
    line-height: 5rem;
    color: #404040;
}
/* spinner */
.loading{
    display: none;
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(176, 198, 217, 0.8);
    z-index: 999;
}
.spinner{
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 40vh;
    color: #EDF3F6;
}
/* ARTIST PAGE*/
.artist-round-wrapper{
    position: relative;
    width: 100vw;
    height: 28vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
    padding: 3rem 5rem;
}
.round{
    position: relative;
    border-radius: 50%;
    background-color: #404040;
    overflow: hidden;
}
.round1{
    position: relative;
    width: 12vw;
    height: 12vw;
}
.round1 img{
    position: relative;
    width: 12vw;
    height: 12vw;
    object-fit: contain;
    object-position: center center;
}
.round2{
    position: relative;
    width: 15vw;
    height: 15vw;
}
.round2 img{
    position: relative;
    width: 15vw;
    height: 15vw;
    object-fit: contain;
    object-position: center center;
}
.round3{
    position: relative;
    width: 22vw;
    height: 22vw;
    z-index: 888;
}
.round3 img{
    position: relative;
    width: 22vw;
    height: 22vw;
    object-fit: contain;
    object-position: center center;
}
.round4{
    position: relative;
    width: 15vw;
    height: 15vw;
}
.round4 img{
    position: relative;
    width: 15vw;
    height: 15vw;
    object-fit: contain;
    object-position: center center;
}
.round5{
    position: relative;
    width: 12vw;
    height: 12vw;
}
.round5 img{
    position: relative;
    width: 12vw;
    height: 12vw;
    object-fit: contain;
    object-position: center center;
}
.round-title{
    position: relative;
    text-align: center;
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: 400;
}
.intro-wrapper{
    width: 100vw;
    overflow: hidden;
}
.intro1{
    position: relative;
    width: 100vw;
    height: 30rem;
    background-color: #F9EDD1;
}
.intro2{
    position: relative;
    width: 100vw;
    height: 30rem;
    background-color: #B0C6D9;
}
.intro3{
    position: relative;
    width: 100vw;
    height: 30rem;
    background-color: #F9EDD1;
}

.intro{
    position: relative;
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    margin: 0;
}
.intro-round{
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    background-color: #404040;
    overflow: hidden;
}
.intro-round img{
    position: relative;
    width: 18rem;
    height: 18rem;
    object-fit: contain;
    object-position: center center;
}
.intro-info .artist-title{
    font-size: 1.2rem;
}
.intro-info .artist-name{
    font-size: 2.5rem;
}
.intro-info .artist-intro{
    width: 100%;
    margin-top: 1rem;
}
.intro2 .intro-info{
    text-align: right;
    margin-right: 5rem;
}
/* chart */
.scroll-wrapper{
    width: 100%;
    overflow-x: scroll;
}
.scroll-wrapper::-webkit-scrollbar{
    height: 0.5rem;
    background-color: transparent;
}
.scroll-wrapper::-webkit-scrollbar-thumb{
    width: 3rem;
    border-radius: 0.5rem;
    background-color: #F9EDD1;
}
.vote-card-area{
    position: relative;
    display: flex;
    width: auto;
    padding: 0 5rem;
}
.vote-card-wrapper{
    position: relative;
    margin: 3rem 2.5rem 0;
}
.vote-card-wrapper .img-box{
    position: relative;
    width: 18rem;
    height: 25rem;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}
.vote-card-wrapper .img-box img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.vote-card-wrapper .vote-name{
    font-size: 1.5rem;
    margin: 1.5rem auto 0.5rem;
    text-align: center;
}
.vote-card-wrapper .vote-num{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.vote-title{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 3rem;
}
.vote-action-wrapper{
    position: relative;
    width: 80vw;
    right: 0;
    left: 0;
    margin: auto;
}
.select-artist-option{
    position: relative;
    display: block;
    right: 0;
    left: 0;
    margin: auto;
    width: 15rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}
.custom-select:focus,.custom-select:active {
    outline: none !important;
    box-shadow: none;
 }
.btn-vote{
    position: relative;
    display: block;
    right: 0;
    left: 0;
    margin: auto;
    color: #B0C6D9;
    border: 1px solid #B0C6D9;
    margin-bottom: 5rem;
}
.btn-vote:hover{
    color: #fff;
    background-color: #B0C6D9;
    border: 1px solid #B0C6D9;
}
/* Trending */
.artist-avatar-wrapper{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.artist-avatar{
    position: relative;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 0.8rem;
    cursor: pointer;
    opacity: 0.5;
}
.op-1{
    opacity: 1;
}
.artist-avatar img{
    position: relative;
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    object-position: center center;
}
.artist-album-wrapper{
    position: relative;
    margin-top: 3rem;
    margin-bottom: 5rem;
}
.album-photo-box{
    margin-bottom: 2rem;
}
.album-photo{
    position: relative;
    width: 100%;
    height: 20rem;
    background-color: #000;
    overflow: hidden;
}
.album-photo img{
    position: relative;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: center center;
}
.photo-name{
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: #fff;
    font-size: 1rem;
}
.add-photo{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9EDD1;
}
.add-photo-btn{
    position: relative;
    width: 4rem;
    height: 4rem;
}
.add-photo-btn .material-icons-round{
    position: relative;
    font-size: 4rem;
    color: #E9D8B5;
    cursor: pointer;
}
.add-photo-btn .material-icons-round:hover{
    color: #B0C6D9;
}
.photo-artist-option{
    margin-bottom: 1rem;
}
.btn-add{
    color: #B0C6D9;
    border: 1px solid #B0C6D9;
}
.btn-add:hover{
    color: #fff;
    background-color: #B0C6D9;
    border: 1px solid #B0C6D9;
}