@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/*font-family: 'Cormorant Garamond', serif;*/

body{
    font-family: 'Cormorant Garamond', serif;
    color: #404040;
}

/* Nav */
a{
    text-decoration: none;
    color: #404040;
}
a:hover{
    text-decoration: none;
    color: #E9D8B5;
}
nav{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 5rem;
    background-color: #EDF3F6;
    z-index: 999;
}
nav .container{
    position: relative;
    display: flex;
    flex-direction: row;
}
.logo img{
    position: relative;
    width: 4rem;
    margin-top: 0.5rem;
    cursor: pointer;
}
.nav-item{
    position: relative;
    width: auto;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-top: 1.9rem;
    margin-left: 3rem;
    cursor: pointer;
}
.nav-item:hover{
    color: #E9D8B5;
}
.user{
    position: relative;
    margin-left: auto;
}
.user .material-icons-round{
    position: relative;
    font-size: 2.5rem;
    margin-top: 1.25rem;
    color: #404040;
    cursor: pointer;
}
.material-icons-round:hover{
    color: #E9D8B5;
}
.bg-blue{
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100vw;
    height: 60vh;
    background-color: #B0C6D9;
}
/* Header */
header{
    position: relative;
    width: 100vw;
}
header .text{
    position: relative;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-top: 10rem;
}
.add{
    position: relative;
    width: 3rem;
    height: 3rem;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 2rem;
}
.add .material-icons-round{
    position: relative;
    font-size: 3rem;
    color: #E9D8B5;
    cursor: pointer;
}
.add .material-icons-round:hover{
    color: #F9EDD1;
}
/* Modal */
.modal-custom{

}
.modal-header-custom .close{
    margin: -1rem;
}
.modal-title-custom{
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
}
.modal-body-custom{
    display: block;
    background-color: #F9EDD1;
    padding: 1.5rem;
}
.modal-body-custom .input-title{
    font-weight: bold;
}
.modal-body-custom input{
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #E9D8B5;
    border-radius: 5px;
    padding: 0.5rem;
}
input:focus{
    outline: none !important;
    border: 1px solid #E9D8B5;
}
.modal-body-custom textarea{
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #E9D8B5;
    border-radius: 5px;
    padding: 0.5rem;
    resize: none;
}
textarea:focus{
    outline: none !important;
    border: 1px solid #E9D8B5;
}
.btn-close{
    color: #E9D8B5;
    border: 1px solid #E9D8B5; 
}
.btn-close:hover{
    color: #fff;
    background-color: #E9D8B5;
    border: 1px solid #E9D8B5; 
}
.btn-share{
    color: #B0C6D9;
    border: 1px solid #B0C6D9;
}
.btn-share:hover{
    color: #fff;
    background-color: #B0C6D9;
    border: 1px solid #B0C6D9;
}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }
/* Section */
section{
    margin-top: 5rem;
}
/* Box */
.box-wrapper{
    margin-bottom: 5rem;
}
.box{
    position: relative;
    width: 100%;
    min-height: 22rem;
    background-color: #F9EDD1;
    margin-bottom: 2rem;
    box-sizing: border-box;
    cursor: pointer;
}
.info{
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2rem;
    font-size: 1.3rem;
}
.info-title{
    font-weight: bold;
} 
.info-content{
    font-weight: normal;
} 
.lyric-title{
    margin-top: 0.5rem;
}
.info .lyric-data{
    font-style: italic;
    font-weight: medium;
}
.reason{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2rem;
    font-size: 1.3rem;
}
.reason-title{
    text-align: center;
}
.reason-text{
    font-style: italic;
    font-weight: medium;
    margin-top: 1rem;
}
footer{
    position: relative;
    width: 100vw;
    height: 5rem;
    background-color: #EDF3F6;
}
footer p{
    text-align: center;
    line-height: 5rem;
    color: #404040;
}
/* ARTIST PAGE*/
.artist-round-wrapper{
    position: relative;
    width: 100vw;
    height: 28vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
    padding: 3rem 5rem;
}
.round{
    position: relative;
    border-radius: 50%;
    background-color: #404040;
    overflow: hidden;
}
.round1{
    position: relative;
    width: 12vw;
    height: 12vw;
}
.round1 img{
    position: relative;
    width: 12vw;
    height: 12vw;
    object-fit: contain;
    object-position: center center;
}
.round2{
    position: relative;
    width: 15vw;
    height: 15vw;
}
.round2 img{
    position: relative;
    width: 15vw;
    height: 15vw;
    object-fit: contain;
    object-position: center center;
}
.round3{
    position: relative;
    width: 22vw;
    height: 22vw;
}
.round3 img{
    position: relative;
    width: 22vw;
    height: 22vw;
    object-fit: contain;
    object-position: center center;
}
.round4{
    position: relative;
    width: 15vw;
    height: 15vw;
}
.round4 img{
    position: relative;
    width: 15vw;
    height: 15vw;
    object-fit: contain;
    object-position: center center;
}
.round5{
    position: relative;
    width: 12vw;
    height: 12vw;
}
.round5 img{
    position: relative;
    width: 12vw;
    height: 12vw;
    object-fit: contain;
    object-position: center center;
}
.round-title{
    position: relative;
    text-align: center;
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
}
.intro{
    position: relative;
    width: 100vw;
    height: 30rem;
    display: flex;
    align-items: center;
}
.intro1{
    background-color: #F9EDD1;
}
.intro2{
    background-color: #B0C6D9;
}
.intro3{
    background-color: #F9EDD1;
}
.intro-round{
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    background-color: #404040;
    overflow: hidden;
}
.intro-round img{
    position: relative;
    width: 18rem;
    height: 18rem;
    object-fit: contain;
    object-position: center center;
}
.intro-info{
    margin-left: 5rem;
}
.intro-info .artist-title{
    font-size: 1.2rem;
}
.intro-info .artist-name{
    font-size: 2.5rem;
}
.intro-info .artist-intro{
    margin-top: 1rem;
}
.intro2 .intro-info{
    text-align: right;
    margin-right: 5rem;
}